@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>ХУЙ</p>
<p>@ViewBag.Temp</p>
<p>@ViewBag.N1</p>
<p>@ViewBag.N2</p>